{% extends "base.html" %} {% block title %} User Detail Page {% endblock %} {%
block content %}
<div class="media">
  <div class="media-left">
    <img src="{{user.image_url}}" class="img-rounded" />
  </div>
  <div class="media-body">
    <h1>{{user.get_full_name()}}</h1>
    <form action="/users/{{user.id}}/delete" method="POST">
      <a class="btn btn-primary" href="/users/{{user.id}}/edit" role="button"
        >Edit</a
      >
      <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <h2>Posts</h2>
    <ul>
      {% for post in posts %}
      <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
      {% endfor %}
    </ul>
    <a class="btn btn-primary" href="{{user.id}}/posts/new" role="button"
      >Add Post</a
    >
  </div>
</div>
{% endblock %}
